@use "partial"; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styling */
body {
    font-family: partial.$font-text;
    background-color: partial.$bg-color;
    color: partial.$text-color;
    line-height: 1.6;
}

h1 {
    font-size: 34px;
    font-family: partial.$font-title;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    font-family: partial.$font-header;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    font-family: partial.$font-header;
    margin-bottom: 20px;
}

/* -------------- Header Section ---------------- */
#header {
    background-color: rgba(0, 0, 0, 0.2); 
    color: partial.$text-color; 
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        justify-content: center;  
        align-items: center;
        max-width: 200px; 
        height: auto;
        margin: 0 auto; 
    
        img {
            max-width: 100px; 
            height: auto; 
        }
    }
}

/* Navigation Menu */
nav {
    display: flex;
    align-items: center;

    #primary-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                color: partial.$text-color;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;

                &:hover {
                    color: partial.$accent-color;
                    border-bottom: 1px solid partial.$accent-color;
                }
            }
        }
    }
}

/* -------------- Footer Section ---------------- */
#footer-container {
    background-color: rgba(0, 0, 0, 0.2); 
    color: partial.$text-color; 
    padding: 10px 15px;

    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .footer-column {
        flex: 1;
        padding: 10px;
        text-align: center;
        
        h3 {
            margin-bottom: 10px;
        }

        .logo {
            display: flex;
            justify-content: center;  
            align-items: center;
            max-width: 200px; 
            height: auto;
            margin: 0 auto; 
        
            img {
                max-width: 100px; 
                height: auto; 
            }
        }
    }

    /* Footer Navigation */
    .footer-nav {
        text-align: left;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin-bottom: 5px;

                a {
                    color: partial.$text-color;
                    text-decoration: none;
                    font-size: 14px;

                    &:hover {
                        color: partial.$accent-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    /* Contact Info */
    .footer-contact {
        text-align: right;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 5px;
                font-size: 14px;
            }
        }
    }

    /* Copyright Section */
    .footer-bottom {
        text-align: center;
        font-size: 12px;
        border-top: 1px solid #ddd;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}