*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* General styling */
body {
    font-family: "roboto", sans-serif;
    background-color: #efefef;
}

h1{
	font-size: 34px;
	margin-bottom: 20px;
}

/* Styling for header section */
#header {
    background-color: rgb(0, 0, 0, 0.2); 
    color: #010101; 
    padding: 20px;
    display: flex;
	justify-content: space-between;
}

#logo img {
    max-width: 100px;
    height: auto;
}

/*Nav menu*/
nav{
	display: flex;
	align-items: end;
}

#primary-menu {
	list-style: none;
}

#primary-menu li{
	display: inline-block;
	margin: 0 15px;
}

#primary-menu li a{
	color: 010101;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

#primary-menu li a:hover{
	color: #f39c12;
	border-bottom: 1px solid #f39c12;
}